.product {
    margin-top: 20px;
    margin-bottom: 40px;

    .product-item {
        border: 1px solid #E9E0E2;
        margin: 0;
        padding: 0;
        border-radius: 6px;

        &__image {
            margin-bottom: 10px;
        }

        a{
            color: #1c1c1c;
            text-decoration: none;
        }
        .name {
            text-transform: uppercase;
            margin-top: 15px;
            line-height: 1.2;
            font-weight: bold;
            font-style: normal;
        }
        .price{
            margin-top: 5px;
            margin-bottom: 5px;
            color: black;
            margin-bottom: 10px;
        }
    }
}
