.product-detail {
    .slider-for,
    .slider-nav {
        .item {
            margin-right: 20px;
            margin-top: 20px;
            text-align: center;
            padding: 5px;
        }
    }
    .product-summary {
        margin-top: 20px;
        &--name {
            h4 {
                font-size: 18px;
                text-transform: uppercase;
                font-style: normal;
            }
        }
        &--code {
            font-size: 14px;
        }
        &--price {
            font-size: 28px;
            margin: 20px;
            font-weight: 800;
        }
        &--color {
            margin: 5px;
            label {
                width: 30px;
                height: 30px;
                background-color: white;
                border: 1px solid #19b5ac;
                border-radius: 50%;
                padding: 1px;
            }
            span {
                height: 100%;
                display: block;
                background: black;
                width: 100%;
                border-radius: 50%;
            }
        }
        &--size {
            display: flex;
            margin-top: 10px;
            margin-top: 10px;
            input[type="radio"] {
                display: none;
            }
            .form-check {
                margin-right: 5px;
                position: relative;
                .active {
                    border: 1px solid #00b5ad;
                    border-radius: 50%;
                    background: #00b5ad;
                    color: #fff;
                }
                label {
                    padding: 0 10px;
                    font-weight: bold;
                    border-radius: 50%;
                    float: left;
                    min-width: 35px !important;
                    height: 35px !important;
                    margin: 0;
                    text-align: center;
                    line-height: 35px;
                    white-space: nowrap;
                    font-size: 12px;
                    border: 1px solid #ebebeb;
                    cursor: pointer;
                    position: relative;
                    background: #ebebeb;
                }
            }
        }
        .input-quantity {
            margin-top: 20px;
            background-color: white;
            border-radius: 6px;
            border: 1px solid #00b5ad;
            height: 25px;
        }
        .btn-adtocart {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #00b5ad;
            color: white;
            font-size: 18px;
        }
        .info-detail {
            margin-top: 20px;
            h4 {
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
    .related-products,
    .accessories {
        margin-top: 40px;
        margin-bottom: 40px;
        .product-head {
            h2 {
                p {
                    font-weight: 500;
                    font-family: "SVN-Gotham";
                    letter-spacing: 4.4px;
                }
            }
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
        }
        a {
            color: #1c1c1c;
            text-align: center;
            text-decoration: none;
        }
        .name {
            text-transform: uppercase;
            margin-top: 15px;
            line-height: 1.2;
            font-weight: bold;
            font-style: normal;
        }
        .price {
            margin-top: 5px;
            margin-bottom: 5px;
            color: black;
        }
        .star {
            display: flex;
            justify-content: center;
        }
    }
}
