.admin-lion {
    background-size: cover;
    background-position: top center;
    align-items: center;
    background-image: url("https://material-dashboard-laravel.creative-tim.com/material/img/login.jpg");
    .card {
        margin-top: 200px;
        position: relative;
        form{
            margin-top: 40px;
            .form-group{
                display: flex;
                .input-group-text{
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .form-control{
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            .btn-link{
                color: #ab47bc;
            }
        }
    }
    .card-header {
        border-radius: 3px;
        margin-top: -20px;
        padding: 9px;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
        position: absolute;
        background: linear-gradient(60deg, #ab47bc, #8e24aa);
        width: 80%;
        left: 10%;
        h4{
            color: #fff;
        }
    }
    background-size: cover;
    background-position: top center;
    align-items: center;
    .page-header.login-page {
        max-height: inherit;
        height: auto;
    }
    height: 100vh;
}
